.SecaoListafemDestaques{
  padding: 40px 0;
  .containerArtigoDestaque{
    margin-bottom: 30px;
  }
}

.ListagemTopicosDestaques{
  padding: 40px 0;

  .containerTopicoDestaque{
    margin-bottom: 30px;
  }
}