$cor-primaria: #fc3030;
$cor-secundaria: darken(#fc3030, 30%);
// $cor-primaria: #fc5130;
// $cor-secundaria: #30bced;
$cor-terciaria: #27272c;
$cor-quartenaria: #303036;
$cor-quintenaria: #fffaff;
$cor-detalhe: rgb(73, 73, 77);
