@import "../../../tema/variaveis.scss";

.MenuDescktop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .containerBotoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 0;
  }
  .containerUsuario {
    cursor: pointer;
    padding: 15px 12px;
    text-align: center;
    color: $cor-quintenaria;
    .logginUsuario {
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 20px;

      .icone {
        background-color: $cor-primaria;
        height: 50px;
        width: 50px;
        padding: 10px;
        border-radius: 15px;
      }

      .iconeConfiguracoes {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translate(0, -50%);
        background-color: $cor-primaria;
        height: 30px;
        width: 30px;
        padding: 5px;
        border-radius: 100%;
        transition: all .3s;
        
        &:hover{
          transform: translate(0, -50%) rotate(-20deg);
        }
      }
    }
  }
}
.BotaoMenu {
  width: 80%;
  transition: all 0.3s;
  &:hover {
    width: 85%;
  }

  .botao {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: $cor-primaria;
    border: none;
    border-radius: 0 15px 15px 0;
    font-size: 25px;
    font-weight: 400;
    color: $cor-quintenaria;
    padding: 0 15px;
    transition: all 0.2s;

    &.ativo {
      background-color: $cor-secundaria;
    }
  }
}
