@import "./tema/variaveis.scss";

.App {
  .RowPrincipal {
    position: fixed;
    height: 100%;
    width: 100%;
    
    .ContainerMenu {
      background-color: $cor-terciaria;
      color: $cor-quintenaria;
    }
    
    .ContainerPagina {
      background-color: $cor-quartenaria;
      color: $cor-quintenaria;
    }
  }
}
